* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #242B33;
  font-family: sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/first.png);
  background-size: cover;
  height: 840px;
}

.heeader__menu {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 20px;
  color: white;
}

.header__list .active {
  border-bottom: 1px solid #D4C17F;
}

.header__list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.header__list ul a {
  margin: 0px 25px 0 25px;
  color: white;
  transition: all 0.1s linear;
}
.header__list ul a:hover {
  color: #D4C17F;
}

.header_h1 {
  width: 556px;
  margin: 0 auto;
  text-align: center;
  margin-top: 170px;
}
.header_h1 h1 {
  font-size: 48px;
  color: #D4C17F;
}
.header_h1 img {
  margin-top: 100px;
}

.icon__one {
  position: absolute;
  left: 50px;
}

.header__foot {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  font-size: 18px;
  color: white;
}
.header__foot p:before {
  content: url(../img/icon/placeholder.png);
  vertical-align: middle;
  margin-right: 15px;
}
.header__foot a {
  color: white;
}
.header__foot a:before {
  content: url(../img/icon/phone-call.png);
  vertical-align: middle;
  margin-right: 15px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container {
    width: 650px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }

  .header {
    background-image: url(../img/first.png);
    background-size: cover;
    height: 840px;
  }

  .heeader__menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: white;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__list {
    width: 300px;
  }
  .header__list .active {
    border-bottom: 1px solid #D4C17F;
  }

  .header__list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .header__list ul a {
    color: white;
    margin: 0 10px 0 10px;
  }

  .header_h1 {
    width: 300px;
    margin-top: 170px;
  }
  .header_h1 h1 {
    font-size: 30px;
    color: #D4C17F;
  }
  .header_h1 img {
    margin-top: 50px;
  }

  .icon__one {
    display: none;
  }

  .header__foot {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 1px 0 0;
    font-size: 16px;
    color: white;
  }
  .header__foot p:before {
    content: url(../img/icon/placeholder.png);
    vertical-align: middle;
    margin-right: 5px;
  }
  .header__foot a {
    margin-top: 20px;
    color: white;
  }
  .header__foot a:before {
    content: url(../img/icon/phone-call.png);
    vertical-align: middle;
    margin-right: 5px;
  }
}
.icon__two {
  position: absolute;
  right: 10px;
}

.icons {
  height: 507px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon__p {
  text-align: center;
  width: 193px;
}
.icon__p p {
  margin-top: 53px;
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .icons {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .icon__two {
    display: none;
  }

  .icons {
    height: 900px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .icon__p {
    text-align: center;
    width: 193px;
  }
  .icon__p p {
    margin-top: 10px;
    font-size: 20px;
    color: white;
  }
}
.houses__h1 h1 {
  font-size: 36px;
  margin-bottom: 50px;
  color: #D4C17F;
}

.houses__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 30px;
}

.houses__grid_item img {
  width: 535px;
  height: auto;
}
.houses__grid_item p {
  color: white;
  position: relative;
  bottom: 80px;
  left: 50px;
  font-size: 27px;
}

.icon__three {
  position: absolute;
  left: 20px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .houses__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .houses__grid_item img {
    width: 320px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .houses__h1 h1 {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
    color: #D4C17F;
  }

  .houses__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .houses__grid_item img {
    width: 300px;
    height: auto;
  }
  .houses__grid_item p {
    color: white;
    position: relative;
    bottom: 80px;
    left: 50px;
    font-size: 27px;
    text-align: center;
  }

  .icon__three {
    display: none;
  }
}
.contact__us {
  background-image: url(../img/cta.png);
  background-size: cover;
}

.contact__h1 h1 {
  font-size: 36px;
  color: #D4C17F;
}

.contact_describe {
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 560px;
}

.contact_p {
  width: 535px;
}
.contact_p h1 {
  color: #D4C17F;
  margin-bottom: 50px;
}

form {
  width: 540px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
form input {
  font-weight: 100;
  height: 50px;
  text-align: center;
  background-color: #BEBEBE;
}
form button {
  height: 30px;
  font-weight: 600;
  background-color: #D4C17F;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .contact_describe {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    height: 600px;
  }

  form {
    margin-bottom: 50px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  form input {
    font-weight: 100;
    height: 40px;
    text-align: center;
    background-color: #BEBEBE;
  }
  form button {
    font-weight: 600;
    background-color: #D4C17F;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .contact__us {
    background-image: url(../img/cta.png);
    background-size: cover;
  }

  .contact__h1 h1 {
    font-size: 36px;
    color: #D4C17F;
  }

  .contact_describe {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    height: 600px;
  }

  .contact_p {
    width: 350px;
    text-align: center;
    line-height: 24px;
  }
  .contact_p h1 {
    margin-bottom: 50px;
  }

  form {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
  }
  form input {
    font-weight: 100;
    height: 40px;
    text-align: center;
    background-color: #BEBEBE;
  }
  form button {
    font-weight: 600;
    background-color: #D4C17F;
    height: 40px;
  }

  .icon__four {
    position: absolute;
    right: 20px;
  }
}
.icon__four {
  position: absolute;
  right: 20px;
}

.video__pic {
  width: 719px;
  margin: 0 auto;
}

.play_button {
  position: relative;
  bottom: 369px;
  left: 310px;
}
.play_button img {
  transition: all 0.1s linear;
}
.play_button img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .icon__four {
    position: absolute;
    right: 20px;
  }

  .video__pic img {
    height: auto;
    width: 650px;
  }

  .play_button img {
    height: auto;
    width: 80px;
  }

  .play_button {
    position: relative;
    bottom: 330px;
    left: 310px;
  }
  .play_button img {
    transition: all 0.1s linear;
  }
  .play_button img:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 767px) {
  .icon__four {
    display: none;
  }

  .video {
    display: none;
  }

  .play_button {
    position: relative;
    bottom: 369px;
    left: 310px;
  }
  .play_button img {
    transition: all 0.1s linear;
  }
  .play_button img:hover {
    transform: scale(1.2);
  }
}
.maps__h1 {
  color: #D4C17F;
  margin-bottom: 50px;
}

.icon__five {
  position: absolute;
  left: 50px;
}

.map {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .map {
    width: 600px;
    height: 300px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .maps {
    width: 300px;
  }

  .maps__h1 {
    color: #D4C17F;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
  }

  .map {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .icon__five {
    display: none;
  }
}
.question__h1 {
  margin: 50px 0 50px 0;
  color: #D4C17F;
}

.form {
  color: white;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.form input, .form button, .form p, .form textarea {
  width: 255px;
}
.form p {
  font-size: 13px;
}
.form input {
  background-color: #BEBEBE;
}
.form button {
  font-weight: 600;
  background-color: #D4C17F;
  height: 50px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .form {
    width: 620px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .form input, .form button, .form p {
    width: 255px;
  }
  .form p {
    font-size: 13px;
  }
  .form input {
    background-color: #BEBEBE;
  }
  .form button {
    font-weight: 600;
    background-color: #D4C17F;
  }
}
@media screen and (max-width: 767px) {
  .question {
    display: none;
  }

  .question__h1 {
    margin: 50px 0 50px 0;
    color: #D4C17F;
  }

  .form {
    width: 400px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form input, .form button, .form p {
    width: 255px;
  }
  .form p {
    font-size: 13px;
  }
  .form input {
    background-color: #BEBEBE;
  }
  .form button {
    font-weight: 600;
    background-color: #D4C17F;
  }
}
.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.footer__nav li {
  margin: 9px 0 8px 0;
  font-size: 14px;
}
.footer__nav a {
  color: white;
}

.contacts {
  color: white;
}
.contacts a {
  color: #D4C17F;
}
.contacts p {
  margin: 8px 0 8px 0;
}

.link__social {
  margin-top: 15px;
}
.link__social a {
  margin: 0px 10px 0 10px;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .footer__nav li {
    margin: 9px 0 8px 0;
    font-size: 14px;
  }
  .footer__nav a {
    color: white;
  }

  .contacts {
    color: white;
  }
  .contacts a {
    color: #D4C17F;
  }
  .contacts p {
    margin: 8px 0 8px 0;
  }

  .link__social {
    margin: 30px 0 30px 0;
  }
  .link__social a {
    margin: 0px 10px 0 10px;
  }
}